html, body, #app{
  width: 100%;
  height: 100%;
}
.border-top{
	position: relative;
}
.border-top::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-top: 1px solid #ccc;
	transform: scaleY(0.5);
}
.border-bottom{
	position: relative;
}
.border-bottom::after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #ccc;
	transform: scaleY(0.5);
}

@keyframes slideInRight {
  0% {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}
@keyframes slideOutRight {
  0% {
    transform: translateZ(0);
  }
  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}
@keyframes slideInDown {
  0% {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0);
  }
}
@keyframes slideOutDown {
  0% {
    transform: translate(0, 0);
  }
  to {
    visibility: hidden;
    transform: translate(0, 100%);
  }
}
.slideInRight {
  animation-name: slideInRight;
}
.slideOutRight {
  animation-name: slideOutRight;
}
.slideInDown {
  animation-name: slideInDown;
}
.slideOutDown {
  animation-name: slideOutDown;
}
.slideInRight,
.slideOutRight,
.slideInDown,
.slideOutDown {
  animation-duration: 200ms;
}

.page-wrap{
  width: 100%;
  height: 100%;
  background: #fff;
}
.page-wrap>.page-wrap{
  z-index: 100;
  position: absolute;
}
.page {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 49px;
  width: 100%;
  background: #fff;
  &.subpage {
    bottom: 0;
    z-index: 100;
  }
  &.modal-page {
    bottom: 0;
    z-index: 100;
  }
  .content {
    position: absolute;
    top: 44px;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}
.right-btn{
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  font-size: 20px;
  line-height: 44px;
}

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.form-group{
  @extend .border-bottom;
  background: #fff;
  line-height: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  .form-contrl{
    padding: 0;
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
    outline: none;
    border: none;
    flex: 1;
    font-size: 14px;
    color: #333;
  }
  .form-tip{
    height: 30px;
    width: 100px;
    background: #F5053D;
    margin-right: 10px;
    border: 1px solid #ddd;
    color: #fff;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
    &.disabled{
      background: rgba($color: #F5053D, $alpha: 0.7);
    }
  }
}

.confirm-btn{
  margin: 20px 10px;
  background: #F5053D;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
}
.alert-info{
  text-align: center;
  margin: 10px;
  font-size: 14px;
  color: #1989fa;
  padding: 10px;
}